 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>All too often, new technology comes with exaggerated promises of reducing cost, improving efficiencies or giving the business capabilities to drive up revenues without exposing the true cost of adoption. To realise any of these goals IT professionals need to have a greater understanding of technology and the industry we operate in.</p>
                </div>
                <div class="col-lg-4">
                    <p>In partnership with academia and the vendor community FITE Club looks to discuss themes central to the financial industry around cost, complexity, reliability and business agility.</p>
                </div>
            </div>
        </div>
    </section>
